.main-container {
  padding: 20px;
}

.chart-form-container {
  display: block;
  margin-bottom: 30px;
}

.forms-container {
  display: inline-block;
}

.chart-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 350px);
  padding: 20px;
}
